.event {
	min-height: 2em;
	margin-top: .5em;
	padding-top: .5em;
	border-radius: 5px;
	font-weight: 300;
}

.np {
	background-color: #ff6363;
	color: white;
}

.won {
	background-color: #5f50ff;
	border: none;
	color: white;
}

.f {
	background-color: #ff7ffa;
	border: none;
}

.sf {
	background-color: #e8fb51;
	border: none;
}

.qf {
	border: none;
	background-color: #ff964e;

}

.content {
	-webkit-filter: opacity(100%); /* Safari 6.0 - 9.0 */
	    filter: opacity(100%);
}

.legend {
	height: 1em;
	width: 1em;
	text-align: right;
}

.legend-holder {
	padding-top: 2em;
	display: grid;
	grid-template-columns: .1fr 1fr .1fr 1fr .1fr 1fr .1fr 1fr .1fr 1fr 4fr;
	grid-column-gap: 10px;
}

.history-summary {
	margin: 2em;
}

.year {
	font-weight: bold;
}
